body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

main {
    margin: 10px 20px;
}

header:hover {
    color: blueviolet;
    font-size: 50px;
}

footer {
    background-image: linear-gradient(to right bottom, red, orange, yellow, green, blue, darkblue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
}

footer:hover {
    color: blueviolet;
    font-size: 25px;
}

a {
    text-shadow: 5px 5px 3px black;
    color: green;
    text-decoration: none;
    transition: 600ms 1s;
}

a:visited {
    color: yellow;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 3ms;
}

a:active {
    color: pink;
    background-color: green;
    transition: 1s;
}

.game {
    border: 20px solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px auto;
    padding: 5px;
    text-align: center;
}

.pravila {
    background-color: cornsilk;
    border: 20px solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px auto;
    padding: 5px;
    text-align: left;
}

.color {
    background-color: yellow;
    border-color: red;
    border: 20px solid;
    border-width: 1px;
    text-align: center;
    margin: 10px 40px 10px 40px;
    font-family: 'Courier New', Courier, monospace;
}

.click {
    border: 3px solid black;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: pink;
    color: black;
    cursor: pointer;
    position: absolute;
}

.expanding {
    border: 3px solid black;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: orange;
    color: black;
    cursor: pointer;
    position: absolute;
    margin: 20px;
    hyphens: auto;
    top: 305px;
}